:root {
  --light-gray: #e1e1e1;
  --off-white: #f5f5f5;
  --orange: #efc9a5;
  --green: #bccbc8;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--light-gray);
  box-sizing: border-box;
  line-height: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
